<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Diseño Web</title>
    <meta name="description" content="Diseño web estratégico para empresas consolidadas. Creamos sitios funcionales, elegantes y optimizados para Google, pensados para marcas que ya están listas para escalar.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="diseño web profesional, diseño web para empresas, diseño web estratégico, agencia de diseño web, diseño web optimizado para SEO, rediseño de sitios web, diseño web para negocios consolidados, diseño web corporativo, diseño web para escalar, agencia de diseño web México, diseño web para marcas establecidas">


    <link rel="stylesheet" href="/assets/css/startup-materialize.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="https://kit.fontawesome.com/28f081bff3.js" crossorigin="anonymous"></script>

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Meta Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '2317758961907919');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=2317758961907919&ev=PageView&noscript=1" /></noscript>
    <!-- End Meta Pixel Code -->

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KZGSY27P3S"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-KZGSY27P3S');
    </script>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-solid-transition">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo"><img src="/assets/images/logoBlancoTransparent.png" alt="logoNegro"
                    class="logoNegroBg"></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">Inicio</a></li>
                {{!-- <li class="active"><a class="dropdown-trigger" href="#!" data-target="pages">Servicios<i
                            class="material-icons right">arrow_drop_down</i></a></li>
                <li><a href="/proyectos">Proyectos</a></li> --}}
                <li><a href="/contato">Contacto</a></li>

            </ul>

            {{!-- <ul id="pages" class="dropdown-content">
                <li><a href="/webdesign">Diseño Web</a></li>
                <li><a href="/socialmedia">Redes sociales</a></li>
                <li><a href="/digitalcontent">Contenido digital</a></li>
                <li><a href="/digitalcampaigns">Campañas digitales</a></li>

            </ul> --}}

            <a href="#" data-target="slide-out" class="sidenav-trigger button-collapse right"><i
                    class="material-icons white-text">menu</i></a>
        </div>
    </nav>
    <ul id="slide-out" class="sidenav">
        <li><a href="/">Inicio</a></li>
        {{!-- <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li class="bold">
                    <a class="collapsible-header waves-effect waves-teal active">Servicios<i
                            class="material-icons right">arrow_drop_down</i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="/webdesign">Diseño Web</a></li>
                            <li><a href="/socialmedia">Redes sociales</a></li>
                            <li><a href="/digitalcontent">Contenido digital</a></li>
                            <li><a href="/digitalcampaigns">Campañas digitales</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li><a href="/proyectos">Proyectos</a></li> --}}
        <li><a href="/contato">Contacto</a></li>
    </ul>
    <div class="bodyPrincipal">
        {{{body}}}
    </div>

    <footer class=" #616161 grey darken-2">
        <div class="container">
            <div class="row"><br>
                <div class="center-align">

                    <p style="color: white;">Copyright Xyncs © 2025 - All rights reserved - <a href="/privacidad"
                            style="color: white;">Política de privacidad</a></p>

                </div>

            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/assets/js/materialize.min.js"></script>

    <!-- External libraries -->
    <script src="/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="/assets/js/masonry.pkgd.min.js"></script>
    <script src="/assets/js/TweenMax.min.js"></script>
    <script src="/assets/js/ScrollMagic.min.js"></script>
    <script src="/assets/js/animation.gsap.min.js"></script>

    <!-- Initialization script -->
    <script src="/assets/js/startup.js"></script>
    <script src="/assets/js/init.js"></script>



</body>

</html>