.navbar-solid-transition{
    padding-bottom: 6%;
}

.navItems {
    color: black !important;
}

.logoNegroBg{
    width: 8% !important;
    padding: 1%;
}
.transitionTitle{
    margin-top: 10% !important;
}
.material-icons{
    color: white !important;
}

@media only screen and (min-width : 992px) {}

@media only screen and (max-width : 991px) {
    .logoNegroBg{
        width: 15% !important;
        padding: 0%;
    }
}

@media only screen and (max-width : 600px) {}